
@{
  ViewData["Title"] = "Nosotros";
}
<style>
    #titulo {
      text-align: center;
    }

    .contenedorIntegrante {
      margin-bottom: 40px;
      text-align: justify;
    }

      .contenedorIntegrante img {
        width: 60%;
        margin-left: 20%;
      }
  @@media
    (max-width: 767.98px) {
      .contenedorIntegrante img {
        border-radius: 50%;
        
      }
    }
</style>
<h1 id="titulo"> @ViewData["Title"] </h1>

<div class="row contenedorIntegrante">
  <div class="col-sm-4">
    <img src="~/assets/Imagenes/Nosotros/Edgar.jpg" />
  </div>
  <div class="col-sm-8">
    <h3>Edgar Antonio Torres Hernández</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut tincidunt odio. Nam laoreet interdum scelerisque. Sed posuere, dolor viverra placerat aliquam, dolor augue faucibus tellus, at tristique nisi ipsum sit amet diam. In placerat arcu eget metus cursus, eget pulvinar massa dapibus. 
  </div>

</div>
<div class="row contenedorIntegrante">

  <div class="col-sm-4">
    <img src="~/assets/Imagenes/Nosotros/Ricardo.jpg" />
  </div>
  <div class="col-sm-8">
    <h3>Ricardo Antonio Cruz Cruz</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut tincidunt odio. Nam laoreet interdum scelerisque. Sed posuere, dolor viverra placerat aliquam, dolor augue faucibus tellus, at tristique nisi ipsum sit amet diam. In placerat arcu eget metus cursus, eget pulvinar massa dapibus.
  </div>
</div>
