@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
  ViewData["Title"] = "Encuesta";
}

<h1>Encuesta</h1>


<form asp-action="Encuesta" method="post" class="mt-3">
  <div asp-validation-summary="All" class="text-danger">
  </div>

  <input asp-for="Id" type="hidden" class="form-control">
  @foreach (var pregunta in Model.preguntas)
  {
    <section class="row">
      <div class="col-md-6">
        <p class="font-size-22">@pregunta.PreguntaTexto</p>
        <input type="hidden" name="preguntaId" value="@pregunta.Id" readonly />
      </div>
      @{

        <select name="pregRespId" class="form-control">
          @foreach (var respuesta2 in pregunta.respuesta)
          {
            <option value="@respuesta2.PregRespId">@respuesta2.RespuestaTexto</option>
          }
        </select>

      }

    </section>
  }
  <input type="submit" value="Enviar" class="btn btn-primary" />
</form>
