
@{
  ViewData["Title"] = "Index";
}

<style>

  /* Set the size of the div element that contains the map */
  #map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }

  #ContenedorMapa button {
    margin-bottom: 20px;
    background: #fec969;
    color: black;
    border: 1px solid black;
  }

  #ContOpcionesMapa {
    margin-bottom: 20px;
  }

</style>

<h1>Index</h1>
<div id="ContenedorMapa">
  <button class="btn " id="OpcionesMapa" type="button" data-toggle="collapse" data-target="#ContOpcionesMapa" aria-expanded="false" aria-controls="multiCollapseExample2">Opciones</button>
  <div class="row">
    <div class="col">
      <div class="collapse" id="ContOpcionesMapa">


        <button class="btn btn-primary" type="button" onclick="ubicacion()"><i class="fas fa-map-marker-alt" style="font-size: 48px;"></i> Ubicación</button>
        <button class="btn btn-primary" type="button" onclick="traffic()"><i class="fas fa-traffic-light" style="font-size: 48px;"></i> Tráfico</button>


      </div>
    </div>
  </div>
  <div class="row">

    <div id="map"></div>

  </div>

</div>



<script>



  function initMap() {

    $.get("/Playa/ObtenerListaPlayasComp/")
      .done(function (data) {
        console.log(data);
      });

    var cancun = { lat: 21.122631, lng: -86.778341 };
    var marker;
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: cancun
    });
    var iconBase = 'assets/Map/Imagenes/';
    $.get("Playa/ObtenerListaPlayas", function (data) {
      if (data != null) {
        var listaPlayas = data;
        for (i = 0; i < data.length; i++) {
          mark(iconBase, marker, data[i]);
        }
        console.log(listaPlayas);
      }
    });

    infoWindow = new google.maps.InfoWindow;
    map.setCenter(cancun);
  }
  function centrar() {
    var cancun = { lat: 21.122631, lng: -86.778341 };
    map.setCenter(cancun);
  }
  function toggleBounce(marker) {
    if (marker.getAnimation() !== null) {
      marker.setAnimation(null);
    } else {
      marker.setAnimation(google.maps.Animation.BOUNCE);
    }
  }
  function mark(iconBase, marker, props) {
    var latitudFloat = parseFloat(props.latitud);
    var longitudFloat = parseFloat(props.longitud);
    marker = new google.maps.Marker({
      map: map,
      draggable: false,
      animation: google.maps.Animation.DROP,
      position: { lat: latitudFloat, lng: longitudFloat },
      icon: iconBase + 'palmera.png'

    });
    google.maps.event.addListener(marker, 'click', function () {
      //alert(props.nombre);
      window.location = 'Map/Menu/' + props.id;
      // console.log("hola");
    });
    var evento = "";
    var bandera = "";
    if (props.evento == 0) {
      evento = "Desovación";
    } else {
      evento = "Ninguno";
    }
    if (props.bandera == 0) {
      bandera = "Bandera/bandVerde.png";
    } else if (props.bandera == 1) {
      bandera = "Bandera/bandAmarilla.png";
    } else if (props.bandera == 2) {
      bandera = "Bandera/bandRoja.png";
    } else if (props.bandera == 3) {
      bandera = "Bandera/bandBlanca.png";
    } else if (props.bandera == 4) {
      bandera = "Bandera/bandNegra.png";
    } else {
      bandera = "Ninguna";
    }

    var contentString =
      '<div class="content">' +
      '<b>' + props.nombre + '</b><br>' +
      '<b>Evento: </b>' + evento + '<br>' +
      '<b>Bandera: </b><img src="' + iconBase + bandera + '" alt=""><br>' +
      '</div>';
    // contentString+=props.edgar==1?' Playa Limpia':' Playa contaminada';
    var infoWindow = new google.maps.InfoWindow({

      content: contentString
    });
    infoWindow.open(map, marker);

    marker.addListener('click', function () {
      infoWindow.open(map, marker);
      //toggleBounce(map, marker);
    });

  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }

  function traffic() {

    var trafficLayer = new google.maps.TrafficLayer();
    trafficLayer.setMap(map);

  }

  function ubicacion() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        // console.log("entro");


        map.setCenter(pos);
        var marker2 = new google.maps.Marker({
          position: {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          },
          animation: google.maps.Animation.DROP,
          content: '<h4>Tu ubicación</h4>'
        });
        var contentString =
          '<div class="content"> Tu ubicación</div>';
        var infoWindow = new google.maps.InfoWindow({

          content: contentString
        });
        marker2.setMap(map);
        infoWindow.open(map, marker2);
      }, function () {
        handleLocationError(true, infoWindow, map.getCenter());
      });




    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }
</script>
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Tujz5CC6WGhh0ZGWFL9Tp5FD3IkJc4Y&callback=initMap">
</script>
