@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
    ViewData["Title"] = "Menu";
}
<style>
    .imgMenu {
        width: 60%;
        margin-left: 20%;
    }

    .divRespuesta {
        max-height: 250px;
        overflow-y: auto;
    }
    .card{
      margin-bottom: 20px;
    }

</style>
<h1>@Model.Nombre</h1>





<!--Grid row-->
<div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <!-- Card -->
        <div class="card gradient-card">

            <div class="card-image" style="background-image: url(https://cdn.pixabay.com/photo/2017/12/17/16/08/customer-experience-3024488_960_720.jpg)">

                <!-- Content -->
                <a asp-controller="Map" asp-action="VotaPlaya" asp-route-id="@Model.Id" title="Vota">
                    <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                        <div class="first-content align-self-center p-3">
                            <h3 class="card-title">VOTA POR TU PLAYA</h3>
                            <p class="lead mb-0">VOTA TU PLAYA FAVORITA</p>
                        </div>
                        <div class="second-content align-self-center mx-auto text-center">
                            <i class="far fa-star fa-3x"></i>

                        </div>
                    </div>
                </a>

            </div>

        </div>
        <!-- Card -->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <!-- Card -->
        <div class="card gradient-card">

            <div class="card-image" style="        background-image: url(https://cdn.pixabay.com/photo/2018/03/19/13/43/feedback-3240007_960_720.jpg);">

                <!-- Content -->
                <a asp-controller="Map" asp-action="Encuesta" asp-route-id="@Model.Id" title="Encuesta">
                    <div class="text-white d-flex h-100 mask aqua-gradient-rgba">
                        <div class="first-content align-self-center p-3">
                            <h3 class="card-title">RESPONDE LA ENCUESTA</h3>
                            <p class="lead mb-0">RESPONDE LAS PREGUNTAS Y AYUDANOS</p>
                        </div>
                        <div class="second-content  align-self-center mx-auto text-center">
                            <i class="fas fa-clipboard-list fa-3x"></i>
                        </div>
                    </div>
                </a>

            </div>

        </div>
        <!-- Card -->

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->



<div class="form-group ">
    <div id="imagen">
        @if (Model.ImagenPlayas == null)
        {
            <div class="k-iconbox">
                <div class="k-iconbox__icon">
                    <div class="k-iconbox__icon-bg k-header__topbar-icon"></div>
                    <i class="far fa-images"></i>
                </div>
                <div class="k-scroll ps" data-scroll="true" style="height: 110px; overflow: hidden;" id="containerScroll">
                    <h3 style="text-align: center; color: #91007b;">Ninguna imagen cargada</h3>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                </div>
            </div>
        }
        else
        {
            <div class="col" id="contenedor">
                <img id="imgSalida" src="~/assets/Playas/@Model.Id/Imagenes/@Model.ImagenPlayas.FirstOrDefault().URL" alt="Foto" class="img-fluid img-responsive">

            </div>
        } 
    </div>
</div>
<h3 id="agregarComentario">Agregar comentario<i class="fas fa-plus-circle" onclick="comentarioDiv()" style="color: #007bff;"></i></h3>

<div class="row" id="ComentarioDiv">


</div>



<div id="ComentariosLista">

</div>
<div id="verMas">
  
</div>

<script>
  var idPlaya = @Model.Id;
  var ocultar = '<h3 id="agregarComentario">Agregar comentario<i class="fas fa-minus-circle" onclick="ocultarDivComentarios()" style="color: red;"></i></h3>';
  var mostrar = '<h3 id="agregarComentario">Agregar comentario<i class="fas fa-plus-circle" onclick="comentarioDiv()" style="color: #007bff;"></i></h3>';
  //var ocultarRespuesta = '<h3 id="agregarComentario">Agregar comentario<i class="fas fa-minus-circle" onclick="ocultarDivComentarios()" style="color: red;"></i></h3>';
  var MostrarMinComentario = 3;
  var MostrarComentarios = 0;
  var comentarios;
  var i = 0;
  var j = 0;
  $(document).ready(function () {

    obtenerPlayaInfo();

  });
  function obtenerPlayaInfo() {
    $("#ComentariosLista").html("");
    

    $.post("/Playa/ObtenerPlayaEditar/", { idPlaya: idPlaya })
      .done(function (data) {
        //console.log(data);
        if (data != null) {
          
          comentarios = data.listaComentarioPlayas;
          //console.log("son: " + comentarios);
          //console.log(comentarios);
        }

        if (comentarios.length < MostrarMinComentario) {

          MostrarMinComentario = comentarios.length;
        }
        //console.log(MostrarMinComentario);
        mostrarComentarios();
      });
  }

  function mostrarComentarios() {
    //console.log("Entro");
    //console.log(comentarios.length);
    //console.log(MostrarMinComentario);
    //console.log(MostrarComentarios);
    if (comentarios.length >= MostrarMinComentario) {
      if (comentarios.length == MostrarMinComentario) {
        $('#verMas').html("");
      }
      else {
        $('#verMas').html("");
        $('#verMas').append('<input  type="button" class="btn btn-primary" onclick="mostrarComentarios()" value="ver más"/>');
      }
      for (i = MostrarComentarios; i < MostrarMinComentario; i++) {
        var day = (comentarios[i].fechaCreacion).replace(/(\d{4})-(\d{2})-(\d{2})T(.+)/, '$1-$2-$3');
        var id = (comentarios[i].id);
        var respuestasComentario = comentarios[i].listaRespuestaComentarioPlayaViewModels;
        $("#ComentariosLista")
          .append('<div class="card"><div class="card-header" id="Comentario' + id + '">' +
            '<div class="row">' +
            '<div class= "col-sm-6" >' + comentarios[i].identityUser.userName + '</div >' +
            '<div class="col-sm-2"><h5 id="agregarRespuesta' + id + '">Comentar <i class="fas fa-plus-circle" onclick="responderComentarioDiv(' + id + ')" style="color: #007bff;"></i></h5></div>' +
            '<div class="col-sm-2" id="divLike' + id + '"><i style="float: left;" class="fas fa-heart" onclick="like(' + id + ',true)"></i>' + comentarios[i].like + '</div>' +
            '<div class="col-sm-2" id="divDisLike' + id + '"><i style="float: left;" class="fas fa-heart-broken" onclick="like(' + id + ',false)"></i>' + comentarios[i].disLike + '</div>' +
            '</div >' +
            '</div>' +
            '<div class="card-body"> ' +
            '<h5 class="card-title">' + day + '</h5>' +
            '<p class="card-text">' + comentarios[i].comentarioTexto + '.</p>' +

            '<div class="divRespuesta" id="respuestasComentarios' + id + '"> ' +
            '</div>' +
            '<div class="row" id="respuestaComentarioDiv' + id + '">' +
            '</div >' +
            '</div>');
        //console.log(comentarios[i].comentarioTexto);
        //console.log(respuestasComentario.length);
        for (j = 0; j < respuestasComentario.length; j++) {
          $('#respuestasComentarios' + id).append('<label >' + respuestasComentario[j].identityUser.userName + ':</label><input class="form-control" type="text" value="' + respuestasComentario[j].comentarioTexto + '" readonly/>')
        }
      }
      MostrarComentarios = MostrarMinComentario;
      if (comentarios.length >= MostrarMinComentario + 3) {
        MostrarMinComentario = MostrarMinComentario + 3;

      } else {
        MostrarMinComentario = comentarios.length;

      }
    } 
      
  }
  function comentarioDiv() {
    $('#ComentarioDiv').append('<div class="col-sm-12">' +
      '<div class= "form-group" >' +
      '<label asp-for="ComentarioPlaya.ComentarioTexto">Comentar:</label><input type="text" id="Comentario" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" name="Comentario">' +
      '<span asp-validation-for="ComentarioPlaya.ComentarioTexto" class="text-danger"></span>' +
      '</div>' +
      '</div >' +

      '<div class="col-sm-12">' +

      '<div class="form-group row">' +
      '<div class="col-sm-10">' +
      '<input type="button" class="btn btn-primary" value="Enviar" onclick="EnviarComentario()" />' +
      '</div>' +
      '</div>' +
      '</div>');
    $('#agregarComentario').html(ocultar);
  }
  function ocultarDivComentarios() {

    $('#ComentarioDiv').html("");
    $('#agregarComentario').html(mostrar);
  }
  function EnviarComentario() {
    var comentario = $('#Comentario').val();

    $.post("/Map/guardarComentarioPlaya/", { Comentario: comentario,idPlaya: idPlaya })
      .done(function (data) {
        //console.log(data);

        if (data.success) {
          Swal.fire(
            'Exito!',
            'Se ha guardado el comentario con exito!',
            'success'
          ).then(function () {
            obtenerComentariosPlaya();
          });
        } else {
          Swal.fire(
            'Ha ocurrido un error',

            'Error'
          );
        }
      });
    var comentario = $('#Comentario').val("");
  }

  function obtenerComentariosPlaya() {
    $("#ComentariosLista").html("");

    $.post("/Playa/ObtenerComentariosPlaya/", { idPlaya: idPlaya })
      .done(function (data) {
        //console.log(data);
        
        if (data != null) {

          comentarios = data;
          MostrarMinComentario = 3;
          MostrarComentarios = 0;
          //console.log("son: "+comentarios);
          //console.log(comentarios);
        }

        if (comentarios.length < MostrarMinComentario) {

          MostrarMinComentario = comentarios.length;
        }
        //console.log(MostrarMinComentario);
        mostrarComentarios();
        
      });
  }
  //'<label >Comentar:</label><input class="form-control" type="text" value="'++'" readonly/>'
  function responderComentarioDiv(id) {
    var ocultarRespuesta = '<h5 id="agregarRespuesta' + id +'">Ocultar<i class="fas fa-minus-circle" onclick="ocultarDivRespuesta('+id+')" style="color: red;"></i></h5>';
    $('#respuestaComentarioDiv'+id).append('<div class="col-sm-12">' +
      '<div class= "form-group" >' +
      '<label asp-for="ComentarioPlaya.ComentarioTexto">Comentar:</label><input type="text" id="RespuestaComentario' + id +'" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" name="RespuestaComentario">' +
      '<span asp-validation-for="ComentarioPlaya.ComentarioTexto" class="text-danger"></span>' +
      '</div>' +
      '</div >' +

      '<div class="col-sm-12">' +

      '<div class="form-group row">' +
      '<div class="col-sm-10">' +
      '<input type="button" class="btn btn-primary" value="Enviar" onclick="EnviarRespuesta('+id+')" />' +
      '</div>' +
      '</div>' +
      '</div>');
    $('#agregarRespuesta' + id).html(ocultarRespuesta);
  }

  function ocultarDivRespuesta(id) {
    var mostrarRespuesta = '<h5 id="agregarRespuesta' + id + '">Comentar<i class="fas fa-plus-circle" onclick="responderComentarioDiv(' + id +')" style="color: #007bff;"></i></h5>';
    $('#respuestaComentarioDiv'+id).html("");
    $('#agregarRespuesta' + id).html(mostrarRespuesta);
  }

  function EnviarRespuesta(id) {
    var RespuestaComentario = $('#RespuestaComentario'+id).val();

    $.post("/Map/guardarRespuestaComentario/", { RespuestaComentario: RespuestaComentario, idComentario: id })
      .done(function (data) {
        console.log(data);

        if (data.success) {
          Swal.fire(
            'Exito!',
            'Se ha guardado el comentario con exito!',
            'success'
          ).then(function () {
            obtenerRespuestasComentario(id);
          });
        } else {
          Swal.fire(
            'Ha ocurrido un error',

            'Error'
          );
        }
      });
    $('#Comentario').val("");
  }

  function obtenerRespuestasComentario(idComentario) {
    $("#respuestasComentarios" + idComentario).html("");

    var i = 0;
    var j = 0;
    $.post("/Playa/ObtenerRespuestaComentarios/", { idComentario: idComentario })
      .done(function (data) {
        console.log(data);

        var respuestasComentario = data;
        console.log(respuestasComentario);

        for (j = 0; j < respuestasComentario.length; j++) {
          $('#respuestasComentarios' + idComentario).append('<label >' + respuestasComentario[j].identityUser.userName + ':</label><input class="form-control" type="text" value="' + respuestasComentario[j].comentarioTexto + '" readonly/>')
          }
        $("#RespuestaComentario" + idComentario).val("");
      });

  }

  function like(idComentario,opcion) {
    $("#divLike"+ idComentario).html("");
    $("#divDisLike" + idComentario).html("");
    var i = 0;
    var j = 0;
    $.post("/Map/AgregarLikesComentario/", { idComentario: idComentario ,opcion: opcion})
      .done(function (data) {
        console.log(data);
        $("#divLike" + idComentario).append('<i style="float: left;" class="fas fa-heart" onclick="like(' + idComentario + ',true)"></i>' + data.like)
        $("#divDisLike" + idComentario).html('<i style="float: left;" class="fas fa-heart-broken" onclick="like(' + idComentario + ',false)"></i>' + data.disLike);
        /*
        var respuestasComentario = data;
        console.log(respuestasComentario);
        
        for (j = 0; j < respuestasComentario.length; j++) {
          $('#respuestasComentarios' + idComentario).append('<label >' + respuestasComentario[j].identityUser.userName + ':</label><input class="form-control" type="text" value="' + respuestasComentario[j].comentarioTexto + '" readonly/>')
        }
        $("#RespuestaComentario" + idComentario).val("");*/
      });
  }
</script>
