@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
    ViewData["Title"] = "VotaPlaya";

}

<h1 style="margin-bottom:50px;">VotaPlaya</h1>


<style>

    #form {
        width: 500px;
        margin: 0 auto;
        height: 230px;
    }

        #form p {
            text-align: center;
        }

        #form label {
            font-size: 560px;
        }

    input[type="radio"] {
        display: none;
    }

    label {
        color: grey;
        font-size:120px;
    }

    .clasificacion {
        direction: rtl;
        unicode-bidi: bidi-override;
    }

    label:hover,
    label:hover ~ label {
        color: orange;
    }

    input[type="radio"]:checked ~ label {
        color: orange;
    }

    @@media only screen and (max-width: 768px) {

        label {
            color: grey;
            font-size: 55px;
        }
    }
    @@media only screen and (max-width: 360px) {

        label {
            color: grey;
            font-size: 40px;
        }
    }

    @@media only screen and (max-width: 280px) {

        label {
            color: grey;
            font-size: 30px;
       


</style>

<!--
<form asp-action="VotaPlaya" method="post" class="mt-3">
  <div asp-validation-summary="All" class="text-danger">
  </div>

  <input asp-for="Id" type="hidden" class="form-control">
  <input name="Puntuacion" type="number" max="5" min="0" class="form-control">

  <input type="submit" value="Enviar" class="btn btn-primary" />
</form>
    -->
<form asp-action="VotaPlaya" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <p class="clasificacion">
        <input asp-for="Id" type="hidden" class="form-control">
        <input id="radio1" type="radio" name="Puntuacion" value="5">
        <!--
        -->
        <label for="radio1"><i class="fas fa-star"></i></label>
        <!--
        -->
        <input id="radio2" type="radio" name="Puntuacion" value="4">
        <!--
        -->
        <label for="radio2"><i class="fas fa-star"></i></label>
        <!--
        -->
        <input id="radio3" type="radio" name="Puntuacion" value="3">
        <!--
        -->
        <label for="radio3"><i class="fas fa-star"></i></label>
        <!--
        -->
        <input id="radio4" type="radio" name="Puntuacion"value="2">
        <!--
        -->
        <label for="radio4"><i class="fas fa-star"></i></label>
        <!--
        -->
        <input id="radio5" type="radio" name="Puntuacion" value="1">
        <!--
        -->
        <label for="radio5"><i class="fas fa-star"></i></label>
    </p>
    <input type="submit" value="Enviar" class="btn btn-primary" />
</form>

