@model MiPlayaQR.ViewModels.RollViewModel;
@{
  ViewData["Title"] = "CrearRoll";
}

<h1>CrearRoll</h1>

<form asp-action="CreateRole" method="post" class="mt-3">
  <div asp-validation-summary="All" class="text-danger">
  </div>
  <div class="form-group row">
    <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="RoleName" class="form-control" placeholder="Name">
      <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" style="width:auto">
        Create Role
      </button>
    </div>
  </div>
</form>
