@model MiPlayaQR.ViewModels.RegistroUsuarioViewModel;
@{
  ViewData["Title"] = "CrearUsuario";
}

<h1>CrearUsuario</h1>


<form asp-action="CreateRole" method="post" class="mt-3">
  <div asp-validation-summary="All" class="text-danger">
  </div>
  <div class="form-group row">
    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="Name" class="form-control" placeholder="Nombre">
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <label asp-for="Email" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="Email" class="form-control" placeholder="Email">
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <label asp-for="DOB" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="DOB" class="form-control">
      <span asp-validation-for="DOB" class="text-danger"></span>
    </div>
    <label asp-for="Password" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="Password" class="form-control" placeholder="Contraseña">
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <label asp-for="ConfirmPassword" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar contraseña">
      <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <label asp-for="roles" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <select class="form-control" asp-for="rol">
        @foreach (var role in Model.roles)
        {
          <option value="@role.Name">@role.Name</option>
        }
      </select>

    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" style="width:auto">
        Crear Usuario
      </button>
    </div>
  </div>
</form>
