@model MiPlayaQR.ViewModels.UsuarioViewModel;
@{
  ViewData["Title"] = "EditarUsuario";
}

<h1>EditarUsuario</h1>


<form method="post" class="mt-3">
  <div class="form-group row">
    <label asp-for="Id" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="Id" disabled class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label asp-for="Email" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="Email" class="form-control">
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group row">
    <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="UserName" class="form-control">
      <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
  </div>
  <div asp-validation-summary="All" class="text-danger"></div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Update</button>
      <a asp-action="ListUsers" class="btn btn-primary">Cancel</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>User Roles</h3>
    </div>
    <div class="card-body">
      @if (Model.Roles.Any())
      {
        foreach (var role in Model.Roles)
        {
          <h5 class="card-title">@role</h5>
        }
      }
      else
      {
        <h5 class="card-title">None at the moment</h5>
      }
    </div>
    <div class="card-footer">
      <a href="#" style="width:auto" class="btn btn-primary">
        Manage Roles
      </a>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <h3>User Claims</h3>
    </div>
    <div class="card-body">
      @if (Model.Claims.Any())
      {
        foreach (var claim in Model.Claims)
        {
          <h5 class="card-title">@claim</h5>
        }
      }
      else
      {
        <h5 class="card-title">None at the moment</h5>
      }
    </div>

    <div class="card-footer">
      <a asp-action="ManageUserClaims" asp-route-userId="@Model.Id"
         style="width:auto" class="btn btn-primary">
        Manage Claims
      </a>
    </div>

  </div>
</form>
