@model MiPlayaQR.ViewModels.EditarRolViewModel;
@{
  ViewData["Title"] = "EditarRoll";
}

<h1>EditarRoll</h1>


  <div class="form-group row">
    <label asp-for="Id" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="Id" disabled class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="RoleName" disabled class="form-control">
      <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Users in this role</h3>
    </div>
    <div class="card-body">
      @if (Model.Users.Any())
      {
        foreach (var user in Model.Users)
        {
          <h5 class="card-title">@user</h5>
        }
      }
      else
      {
        <h5 class="card-title">None at the moment</h5>
      }
    </div>

    <div class="card-footer">
      <a asp-controller="Administrador" asp-action="EditarUsuarioRoll"
         asp-route-roleId="@Model.Id" class="btn btn-primary">
        Add or remove users from this role
      </a>
    </div>

  </div>

