@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>;
@{
  ViewData["Title"] = "Roles";
}

<h1>Roles</h1>


@if (Model.Any())
{

  foreach (var role in Model)
  {
    <div class="card mb-3">
      <div class="card-header">
        Role Id : @role.Id
      </div>
      <div class="card-body">
        <h5 class="card-title">@role.Name</h5>
      </div>
      <div class="card-footer">

        <a asp-controller="Administrador" asp-action="EditarRoll"
           asp-route-id="@role.Id" class="btn btn-primary">
          Editar roles de usuarios
        </a>
        


      </div>
    </div>
  }
}
else
{
  <div class="card">
    <div class="card-header">
      No roles created yet
    </div>
    <div class="card-body">
      <h5 class="card-title">
        Use the button below to create a role
      </h5>
      <a class="btn btn-primary" style="width:auto"
         asp-controller="Administrador" asp-action="CrearRoll">
        Create Role
      </a>
    </div>
  </div>
}
<script>
  function eliminar(id) {
    Swal.fire({
      title: '¿Desea eliminar al usuario ?',
      text: "Esta acción no se podrá revertir",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: '¡Sí, eliminar!',
      cancelButtonText: '¡No, cancelar!',
    }).then((result) => {
      if (result.value) {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $.ajax({
          url: '/Administrador/EliminarRoll/',
          method: "post",
          dataType: "json",
          data: {
            __RequestVerificationToken: token,
            id: id
          },
          success: function (data) {
            if (data.success) {
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              ).then(function () {
                location.reload();
              });
            } else {
              Swal.fire(
                'Ha ocurrido un error',

                'Error'
              ).then(function () {
                location.reload();
              });
            }

          },
          error: function () {
            swal({
              title: "¡Algo salió mal!",
              text: "¡Ha ocurrido un error al eliminar el registro!",
              type: "error",
              allowOutsideClick: false,
              confirmButtonColor: '#0c7cd5',
              confirmButtonText: 'Aceptar',
              allowEscapeKey: false
            }, function () {
              location.reload();
            });
          }
        });
      }
    });
  };
</script>
