@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
  ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>
<style>
  div.dataTables_wrapper div.dataTables_info {
    overflow: auto;
    scrollbar-width: none;
  }

  #divBotones {
    margin-bottom: 20px;
  }

  @@media(max-width: 767px) {
    #divBotones {
      padding-left: 15%;
    }

    .aIconos {
      margin-right: 5%;
    }

    .iconos {
      font-size: 50px;
    }

    .textoIconos {
      display: none;
    }

    #divtablaLista {
      max-width: 200px;
    }

    .form-control-sm {
      max-width: 100px;
    }
  }
</style>

@if (Model.Any())
{
  <a asp-action="CrearUsuario" asp-controller="Administrador"
     class="btn btn-primary mb-3" style="width:auto">
    Agregar Usuario
  </a>

  <div id="divtablaLista">

    <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline collapsed dt-responsive display nowrap" id="tablaLista">
      <thead>
        <tr>
          <th class="Print">Nombre</th>
          <th class="Print">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var user in Model)
        {
          <tr>
            <th>@user.UserName</th>

            <td>
              <div class="dropdown divAcciones">
                <button class="btn dropdown-toggle btnOpcionesTabla" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="flaticon2-indent-dots-option-button"></i><span class="k-hidden-mobile ">Seleccione</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" asp-controller="Administrador" asp-action="EditarUsuario" asp-route-id="@user.Id" title="Editar @ViewData["Section"]"><i class="fa fa-pencil-alt"></i> Editar</a>
                  <a class="dropdown-item" asp-controller="Administrador" asp-action="Detalle" asp-route-id="@user.Id" title="Detalle @ViewData["Section"]"> <i class="fa fa-info"></i> Detalle</a>
                  <button class="dropdown-item text-danger" title="Eliminar Cuantificación" onclick="eliminar('@user.Id')">
                    <i class="fa fa-trash-alt text-danger" style="margin-right:13px;"></i> Eliminar
                  </button>

                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
else
{
  <div class="card">
    <div class="card-header">
      No users created yet
    </div>
    <div class="card-body">
      <h5 class="card-title">
        Use the button below to create a user
      </h5>
      <a class="btn btn-primary" style="width:auto"
         asp-controller="Account" asp-action="Register">
        Agregar usuario
      </a>
    </div>
  </div>
}

<script>
  $(document).ready(function () {
    var example = $('#tablaLista').DataTable({
      "order": [[0, "desc"]],
      language: {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
      },
      responsive: true,
      fixedColumns: true,
      dom: 'B<"clear">lfrtip',
      name: 'primary',
      buttons: [
        { extend: 'print', text: 'Imprimir', exportOptions: { columns: '.Print' } },
        { extend: 'excelHtml5', text: 'Excel', exportOptions: { columns: '.Print' } },
        { extend: 'pdfHtml5', text: 'Pdf', exportOptions: { columns: '.Print' } }
      ]
    });
  });
  function eliminar(id) {
    Swal.fire({
      title: '¿Desea eliminar al usuario ?',
      text: "Esta acción no se podrá revertir",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: '¡Sí, eliminar!',
      cancelButtonText: '¡No, cancelar!',
    }).then((result) => {
      if (result.value) {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $.ajax({
          url: '/Administrador/EliminarUsuario/',
          method: "post",
          dataType: "json",
          data: {
            __RequestVerificationToken: token,
            id: id
          },
          success: function (data) {
            console.log(data.success);
            if (data.success) {

              Swal.fire({
                title: data.success,
                icon: 'warning',
              }).then(function () {
                location.reload();
              });
            } else {
              Swal.fire(
                'Ha ocurrido un error',

                'Error'
              ).then(function () {
                location.reload();
              });
            }

          },
          error: function () {
            swal({
              title: "¡Algo salió mal!",
              text: "¡Ha ocurrido un error al eliminar el registro!",
              type: "error",
              allowOutsideClick: false,
              confirmButtonColor: '#0c7cd5',
              confirmButtonText: 'Aceptar',
              allowEscapeKey: false
            }, function () {
              location.reload();
            });
          }
        });
      }
    });
  };


</script>
