@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4"><img id="logo" style="width: 25%;" src="~/assets/Imagenes/Logo.png" /></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
