@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
    ViewData["Title"] = "Crear";
}


@using static MiPlayaQR.Common.Helpers.Enums;
<style>
    .regresarBtn {
        margin-top: 20px;
        float: right;
        font-size: 20px;
    }

    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>




<div class="controlRoutes">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"] playas</h1>

        </div>
        <div class="col">
            <a class="btn btn-secondary  regresarBtn" asp-controller="Playa" asp-action="Index" title="Regresar">

                <i class="fas fa-arrow-left"></i>
                <span class="k-hidden-mobile">Regresar</span>
            </a>
        </div>
    </div>

</div>
<form asp-action="Crear" enctype="multipart/form-data" class="k-form" id="k_form" method="post" autocomplete="off">
    @Html.AntiForgeryToken()

    <label>Ingresa el Nombre de la playa</label>
    <input type="text" class="form-control" asp-for="Nombre" id="NombrePlaya" />
    <label>Ingresa la latitud de la playa</label>
    <input type="number" class="form-control" asp-for="Latitud" id="LatitudPlaya" />
    <label>Ingresa la longitud de la playa</label>
    <input type="number" class="form-control" asp-for="Longitud" id="LongitudPlaya" />

    <div class="row">
        <input type="button" onclick="ubicacion()" value="Ubicación" />
        <input type="button" onclick="traffic()" value="Trafico" />
        <div id="map"></div>

    </div>

    <script>

        var marker;
        var infoWindow;
        function initMap() {
            /*
            $.post("/Playa/ObtenerPlayaEditar/", { idPlaya: 1 })
              .done(function (data) {
                console.log(data);
              });
              */
            var cancun = { lat: 21.122631, lng: -86.778341 };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: cancun
            });

            infoWindow = new google.maps.InfoWindow;
            map.setCenter(cancun);

            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
            });

        }


        function placeMarker(location) {
            if (marker) {
                marker.setPosition(location);
                info(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    draggable: false,
                    animation: google.maps.Animation.DROP
                });
                info(location);
            }




        }

        function info(location) {
            var lat = location.lat();
            var lng = location.lng();

            var latstr = lat.toString();
            var lngstr = lng.toString();

            var latres = latstr.slice(0, 10);
            var lngres = lngstr.slice(0, 10);


            $("#LatitudPlaya").val(latres);
            $("#LongitudPlaya").val(lngres);


        }

        function centrar() {
            var cancun = { lat: 21.122631, lng: -86.778341 };
            map.setCenter(cancun);
        }


        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }


        function ubicacion() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    // console.log("entro");


                    map.setCenter(pos);
                    var marker2 = new google.maps.Marker({
                        position: {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        },
                        animation: google.maps.Animation.DROP,
                        content: '<h4>Tu ubicación</h4>'
                    });
                    var contentString =
                        '<div class="content"> Tu ubicación</div>';
                    var infoWindow = new google.maps.InfoWindow({

                        content: contentString
                    });
                    marker2.setMap(map);
                    infoWindow.open(map, marker2);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });




            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }
    </script>













    <label>Imagen del componente</label>
    <div class="custom-file">
        <input type="file" accept="image/*" id="inputFile" class="custom-file-input" name="imagen" />
        <label class="custom-file-label" for="inputFile">Selecciona una imagen</label>
    </div>

    <div class="col-lg-12 inputx" id="contenedor" style="display:none;">
        <img id="imgSalida" src="~/assets/Imagenes/no-image.png" alt="Foto" class="img-fluid img-responsive">
    </div>
    <div class="col-xl-12 inputx" id="contenedorDefecto">
        <div class="k-iconbox">
            <div class="k-iconbox__icon">
                <div class="k-iconbox__icon-bg k-header__topbar-icon"></div>
                <i class="flaticon2-image-file"></i>
            </div>
            <div class="k-scroll" data-scroll="true" style="height: 110px;" id="containerScroll">
                <h3 style="text-align: center;">Ninguna imagen cargada</h3>
            </div>
        </div>
    </div>



    <label>Selecciona el estado de la Republica de la playa</label>
    <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.ListaMexicoEstados" id="IdEstado">
        <option value="" disabled hidden selected>Selecciona un estado</option>

    </select>

    <label>Selecciona la bandera de la playa</label>
    <select class="form-control" asp-for="Bandera" id="idBandera">
        <option value="0">Verde</option>
        <option value="1">Amarilla</option>
        <option value="2">Roja</option>
        <option value="3">Blanca</option>
        <option value="4">Negra</option>
    </select>
    <label>Selecciona la ocupacion del estacionamiento de la playa</label>
    <select class="form-control" asp-for="Estacionamiento" id="idEstacionamiento">
        <option value="0">LLeno</option>
        <option value="1">Vacio</option>
        <option value="2">Disponible</option>
    </select>
    <label>Selecciona el evento actual</label>
    <select class="form-control" asp-for="Evento" id="idEvento">
        <option value="0">Desovacion</option>
        <option value="1">Ninguno</option>
    </select>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>
<script>
    $(document).ready(function () {

        $(function () {
            $('#inputFile').change(function (imagen) {
                agregarImagen(imagen);
            });

            function agregarImagen(imagen) {
                var file = imagen.target.files[0],
                    imageType = /image.*/;

                if (!file.type.match(imageType))
                    return;

                var reader = new FileReader();
                reader.onload = fileOnload;
                reader.readAsDataURL(file);
            }

            function fileOnload(imagen) {
                var result = imagen.target.result;
                $('#contenedorDefecto').hide();
                $('#contenedor').show();
                $('#imgSalida').attr("src", result);
            }
        })

    });
</script>
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Tujz5CC6WGhh0ZGWFL9Tp5FD3IkJc4Y&callback=initMap">
</script>