@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
  ViewData["Title"] = "Detalle";
}
@using static MiPlayaQR.Common.Helpers.Enums;
@using static MiPlayaQR.Common.Helpers.EnumHelper;

<style>
  .regresarBtn {
    margin-top: 20px;
    float: right;
    font-size: 20px;
  }
</style>
<div class="controlRoutes">
  <div class="row">
    <div class="col">
      <h1>@ViewData["Title"] playas</h1>

    </div>
    <div class="col">
      <a class="btn btn-secondary  regresarBtn" asp-controller="Playa" asp-action="Index" title="Regresar">

        <i class="fas fa-arrow-left"></i>
        <span class="k-hidden-mobile">Regresar</span>
      </a>
    </div>
  </div>

</div>
<h2>@Model.Nombre</h2>

<div class="row">
  <div class="form-group col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <label>Latitud de la ubicación de la playa</label>
    <input type="text" class="form-control" asp-for="Latitud" id="LatitudPlaya" value="@Model.Latitud" readonly />
    <label>Longitud de la ubicación de la playa</label>
    <input type="text" class="form-control" asp-for="Longitud" id="LongitudPlaya" value="@Model.Longitud" readonly />
    <label>Estado</label>
    <input type="text" class="form-control" asp-for="mexicoEstados.Nombre" id="LongitudPlaya" value="@Model.mexicoEstados.Nombre" readonly />
  </div>
  <div class="form-group col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <label>Bandera de la playa</label>
    <input type="text" class="form-control" asp-for="Bandera" id="LongitudPlaya" value="@Model.Bandera.ToDisplayName()" readonly />
    <label>Estacionamiento de la playa</label>
    <input type="text" class="form-control" asp-for="Estacionamiento" id="LongitudPlaya" value="@Model.Estacionamiento.ToDisplayName()" readonly />
    <label>Evento de la playa</label>
    <input type="text" class="form-control" asp-for="Evento" id="LongitudPlaya" value="@Model.Evento.ToDisplayName()" readonly />

  </div>
  <div class="form-group col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <div id="imagen">
      @if (Model.ImagenPlayas == null)
      {
        <div class="k-iconbox">
          <div class="k-iconbox__icon">
            <div class="k-iconbox__icon-bg k-header__topbar-icon"></div>
            <i class="far fa-images"></i>
          </div>
          <div class="k-scroll ps" data-scroll="true" style="height: 110px; overflow: hidden;" id="containerScroll">
            <h3 style="text-align: center; color: #91007b;">Ninguna imagen cargada</h3>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
          </div>
        </div>
      }
      else
      {
    <div class="col" id="contenedor">
      <img id="imgSalida" src="~/assets/Playas/@Model.Id/Imagenes/@Model.ImagenPlayas.FirstOrDefault().URL" alt="Foto" class="img-fluid img-responsive">

    </div>
      }
    </div>
  </div>
</div>



<div class="card mb-3">

  <div class="card-header">
    Playa : @Model.Nombre
  </div>
  <div class="card-body">

    @foreach (var pregunta in Model.preguntas)
    {
      <h5 class="card-title">@pregunta.PreguntaTexto</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            @foreach (var respuesta in pregunta.respuesta)
            {
              <th scope="col">@respuesta.RespuestaTexto</th>
            }
          </tr>
        </thead>
        <tbody>
          <tr>
            @foreach (var respuesta in pregunta.respuesta)
            {
              <th scope="row">@respuesta.Total</th>
            }
          </tr>
        </tbody>
      </table>
    }


  </div>
  <div class="card-footer">

  </div>
</div>


<div class="card mb-3">

  <div class="card-header">
    Playa : @Model.Nombre
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>

          <th scope="col">Puntuacion Total</th>
          <th scope="col">Votos</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          @foreach (var voto in Model.ListaVotoPlaya)
          {
            var total = 0.0;
            @if (voto.Puntuacion != 0 && voto.TotalVotos != 0)
            {
              total = (voto.Puntuacion / voto.TotalVotos);
            }
            <td>@voto.Puntuacion</td>
            <td>@voto.TotalVotos</td>
            <td>@total</td>
          }
        </tr>
      </tbody>
    </table>


  </div>
  <div class="card-footer">

  </div>
</div>

