@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
  ViewData["Title"] = "Editar";
}
<style>
  .regresarBtn {
    margin-top: 20px;
    float: right;
    font-size: 20px;
  }
</style>
<div class="controlRoutes">
  <div class="row">
    <div class="col">
      <h1>@ViewData["Title"] playas</h1>

    </div>
    <div class="col">
      <a class="btn btn-secondary  regresarBtn" asp-controller="Playa" asp-action="Index" title="Regresar">

        <i class="fas fa-arrow-left"></i>
        <span class="k-hidden-mobile">Regresar</span>
      </a>
    </div>
  </div>

</div>

<form asp-action="Editar" enctype="multipart/form-data" class="k-form" id="k_form" method="post" autocomplete="off">
  @Html.AntiForgeryToken()

  <label>Ingresa el Nombre de la playa</label>
  <input type="text" class="form-control" asp-for="Nombre" id="NombrePlaya" value="@Model.Nombre" />
  <label>Ingresa la latitud de la playa</label>
  <input type="number" class="form-control" asp-for="Latitud" id="LatitudPlaya" value="@Model.Latitud" />
  <label>Ingresa la longitud de la playa</label>
  <input type="number" class="form-control" asp-for="Longitud" id="LongitudPlaya" value="@Model.Longitud" />
  <label>Imagen</label>
  <div class="custom-file">
    <input type="file" accept="image/*" id="inputFile" class="custom-file-input" name="imagen" />
    <label class="custom-file-label" for="inputFile">Selecciona una imagen</label>
  </div>
  <img id="imgSalida" src="~/assets/Playas/@Model.Id/Imagenes/@Model.ImagenPlayas.FirstOrDefault().URL" alt="Foto" class="img-fluid img-responsive">
  <label>Selecciona el estado de la Republica de la playa</label>
  <select class="form-control" asp-for="IdEstado" id="IdEstado">
    @foreach (var Estado in Model.ListaMexicoEstados)

    {
      if (Estado.Nombre == Model.mexicoEstados.Nombre)
      {
        <option value="@Estado.Id" selected>@Estado.Nombre</option>
      }
      else
      {
        <option value="@Estado.Id">@Estado.Nombre</option>
      }

    }
  </select>
  <label>Selecciona la bandera de la playa</label>
  <select class="form-control" asp-for="Bandera" id="idBandera">
    <option value="0">Verde</option>
    <option value="1">Amarilla</option>
    <option value="2">Roja</option>
    <option value="3">Blanca</option>
    <option value="4">Negra</option>
  </select>
  <label>Selecciona la ocupacion del estacionamiento de la playa</label>
  <select class="form-control" asp-for="Estacionamiento" id="idEstacionamiento">
    <option value="0">LLeno</option>
    <option value="1">Vacio</option>
    <option value="2">Disponible</option>
  </select>
  <label>Selecciona el evento actual</label>
  <select class="form-control" asp-for="Evento" id="idEvento">
    <option value="0">Desovacion</option>
    <option value="1">Ninguno</option>
  </select>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>


