@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
  ViewData["Title"] = "EncuestaPreguntasRespuestas";
}

<style>
  .regresarBtn {
    margin-top: 20px;
    float: right;
    font-size: 20px;
  }
</style>
<div class="controlRoutes">
  <div class="row">
    <div class="col">
      <h1>@ViewData["Title"] playas</h1>

    </div>
    <div class="col">
      <a class="btn btn-secondary  regresarBtn" asp-controller="Playa" asp-action="Index" title="Regresar">

        <i class="fas fa-arrow-left"></i>
        <span class="k-hidden-mobile">Regresar</span>
      </a>
    </div>
  </div>

</div>
<div class="card mb-3">

  <div class="card-header">
    Preguntas
    <input id="btnAgregarPregunta" style="width: 200px;" type="button" class="btn btn-success" value="Agregar pregunta" onclick="agregarPregunta()" />
  </div>

  <div class="card-body">

    @foreach (var pregunta in Model.preguntas)
    {
      <h5 class="card-title">@pregunta.PreguntaTexto</h5>
      <select class="form-control">
        @foreach (var respuesta in pregunta.respuesta)
        {
          <option value="">@respuesta.RespuestaTexto</option>
        }
      </select>

    }
    <form asp-action="EncuestaPreguntaRespuestas" method="post">
      <div class="preguntas">

      </div>

    </form>
  </div>

  <div class="card-footer">

  </div>
</div>
<script>
  let idPregunta = 1;
  let idRespuesta = 1;
  function agregarPregunta() {
    console.log(idPregunta);
    if (idPregunta == 1) {
      $('.preguntas').append('<div style="margin-top: 20px; margin-bottom:20px;" id="divPregunta">' +
        '<label class="col-sm-2 col-form-label">Ingresa la pregunta:</label><button type="submit" class="btn btn-success">Enviar</button> <input id="btnAgregarPregunta" style="width: 200px;" type="button" class="btn btn-success" value="Cancelar" onclick="eliminarPregunta()" />' +
        '<input type="text" id="pregunta' + idPregunta + '" name="pregunta" class="form-control" style="margin-bottom:20px;" placeholder="Ingresa la pregunta" required />' +
        '<input style="width: 200px;" type="button" class="btn btn-success" value="Agregar Respuesta" onclick="agregarRespuesta(' + idPregunta + ')"/>' +
        '<div id="divRespuesta' + idPregunta + '" style="margin-top: 20px;">' +
        '<label class="col-sm-2 col-form-label">Ingresa la respuesta:</label>' +
        '<input type="text" id="respuesta' + idRespuesta + 'pregunta' + idPregunta + '" name="respuesta" class="form-control" placeholder="Ingresa la respuesta" required />' +
        '</div>' +
        '</div>'
      );
      idPregunta++;
      idRespuesta++;
      $('#btnAgregarPregunta').css("display", "none");
    }

  }
  function agregarRespuesta(idPregunta) {
    $('#divRespuesta' + idPregunta).append('<label class="col-sm-2 col-form-label">Ingresa la respuesta:</label>');
    $('#divRespuesta' + idPregunta).append('<input type="text" id="respuesta' + idRespuesta + 'pregunta' + idPregunta + '" name="respuesta" class="form-control" placeholder="Ingresa la respuesta" required />');
    idPregunta++;
    idRespuesta++;
  }
  function eliminarPregunta() {
    $('#divPregunta').remove();
    $('#btnAgregarPregunta').css("display", "block");
    idPregunta = 1;
    idRespuesta = 1;

  }
</script>
