@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
  ViewData["Title"] = "Index";
  ViewData["Section"] = "Playas";

}
@using static MiPlayaQR.Common.Helpers.Enums;
@using static MiPlayaQR.Common.Helpers.EnumHelper;
<style>
  div.dataTables_wrapper div.dataTables_info {
    overflow: auto;
    scrollbar-width: none;
  }
  
  #divBotones {
    margin-bottom: 20px;
  }
  .aIconos {
    background: #f9d8a3;
    border: 1px solid black;
  }

  #divBotones :hover {
    background: #f9bd5d;
  }
  @@media(max-width: 767px) {
    #divBotones {
      padding-left: 15%;
    }

    .aIconos {
      margin-right: 5%;
    }

    .iconos {
      font-size: 50px;
    }

    .textoIconos {
      display: none;
    }

  }
</style>

<div id="divBotones">
  <a class="btn aIconos" asp-controller="Playa" asp-action="Crear" title="Crear @ViewData["Section"]"><i class="fas fa-plus-circle iconos"></i> <span class="textoIconos"> Crear </span> </a>
  <a class="btn aIconos" asp-controller="Playa" asp-action="EncuestaPreguntasRespuestas" title="Gestión de preguntas @ViewData["Section"]"><i class="fas fa-comment-medical iconos"></i> <span class="textoIconos"> Preguntas</span></a>

  <a class="btn aIconos" asp-controller="Playa" asp-action="RespuestaEncuesta" title="Respuestas Encuesta @ViewData["Section"]"><i class="fas fa-chart-bar iconos"></i><span class="textoIconos"> Respuestas</span></a>
  <a class="btn aIconos" asp-controller="Playa" asp-action="RespuestaVotacion" title="Respuestas Votacion @ViewData["Section"]"><i class="fas fa-chart-bar iconos"></i><span class="textoIconos"> Votaciones</span></a>
</div>


<div id="divtablaLista">

  <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline collapsed dt-responsive display nowrap" id="tablaLista">
    <thead>
      <tr>
        <th class="Print">Nombre</th>
        <th class="Print">Bandera</th>
        <th class="Print">Estado</th>
        <th class="Print">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var playa in Model.playas)
      {
        <tr>
          <th>@playa.Nombre</th>
          <td>@playa.Bandera.ToDisplayName()</td>
          <td>@playa.mexicoEstados.Nombre</td>
          <td>
            <div class="dropdown divAcciones">
              <button class="btn dropdown-toggle btnOpcionesTabla" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flaticon2-indent-dots-option-button "></i><span class="k-hidden-mobile">Seleccione</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Playa" asp-action="Editar" asp-route-id="@playa.Id" title="Editar @ViewData["Section"]"><i class="fa fa-pencil-alt"></i> Editar</a>
                <a class="dropdown-item" asp-controller="Playa" asp-action="Detalle" asp-route-id="@playa.Id" title="Detalle @ViewData["Section"]"> <i class="fa fa-info"></i> Detalle</a>
                <button class="dropdown-item text-danger" title="Eliminar Cuantificación" onclick="eliminarPlayaId(@playa.Id)">
                  <i class="fa fa-trash-alt text-danger" style="margin-right:13px;"></i> Eliminar
                </button>
              </div>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    var example = $('#tablaLista').DataTable({
      "order": [[0, "desc"]],
      language: {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
      },
      responsive: true,
      fixedColumns: true,
      dom: 'B<"clear">lfrtip',
      name: 'primary',
      buttons: [
        { extend: 'print', text: 'Imprimir', exportOptions: { columns: '.Print' } },
        { extend: 'excelHtml5', text: 'Excel', exportOptions: { columns: '.Print' } },
        { extend: 'pdfHtml5', text: 'Pdf', exportOptions: { columns: '.Print' } }
      ]
    });
  });
  /*
  $(document).ready(function () {
    $('#example').DataTable();
  });*/
  function eliminarPlayaId(id) {
    Swal.fire({
      title: '¿Desea eliminar la playa ?',
      text: "Esta acción no se podrá revertir",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: '¡Sí, eliminar!',
      cancelButtonText: '¡No, cancelar!',
    }).then((result) => {
      if (result.value) {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $.ajax({
          url: '/Playa/EliminarPlayaId/',
          method: "post",
          dataType: "json",
          data: {
            __RequestVerificationToken: token,
            id: id
          },
          success: function (data) {
            if (data.success) {
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              ).then(function () {
                location.reload();
              });
            } else {
              Swal.fire(
                'Ha ocurrido un error',

                'Error'
              ).then(function () {
                location.reload();
              });
            }

          },
          error: function () {
            swal({
              title: "¡Algo salió mal!",
              text: "¡Ha ocurrido un error al eliminar el registro!",
              type: "error",
              allowOutsideClick: false,
              confirmButtonColor: '#0c7cd5',
              confirmButtonText: 'Aceptar',
              allowEscapeKey: false
            }, function () {
              location.reload();
            });
          }
        });
      }
    });
  };
</script>

