@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
  ViewData["Title"] = "Playas";
}
<style>

  label {
    color: orange;
    font-size: 100%;
  }
  .card{
      width: 45%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      float:left;
  }
  @@media (max-width: 768px) {
  .card{
      width: 90%;
      margin-left: 5%;

  }
}


</style>
<h1>Playas</h1>

@foreach (var playa in Model.playas)
{
  <div class="card mb-3">
    @if (playa.ImagenPlayas != null)
    {
      <img class="card-img-top" src="~/assets/Playas/@playa.Id/Imagenes/@playa.ImagenPlayas.FirstOrDefault().URL" alt="Card image cap">
    }


    <div class="card-body">
      <h5 class="card-title">@playa.Nombre</h5>
      <p class="card-text">@playa.Descripcion</p>
      @if (playa.ListaVotoPlaya != null)
      {
        @foreach (var voto in playa.ListaVotoPlaya)
        {
          var total = 0.0;
          var maxEstrellas = 4;
          var operacion = 0.0;
          var resto = 0.0;
          @if (voto.Puntuacion != 0 && voto.TotalVotos != 0)
          {
            total = (voto.Puntuacion / voto.TotalVotos);
            resto = total % 1;
            operacion = total - resto;
          }
          

    <div class="estrellas">
      @for (var cont = 0; cont <= maxEstrellas; cont++)
      {
        if (cont == operacion && resto > 0)
        {
          <label for="radio1"><i class="fas fa-star-half-alt"></i></label>
        }
        else if (cont < operacion)
        {
          <label for="radio1"><i class="fas fa-star"></i></label>
        }
        else
        {
          <label for="radio1" style="color: grey;"><i class="fas fa-star"></i></label>
        }

      }
    </div>
          
        }

      }
      <p class="card-text"><small class="text-muted"><a class="btn btn-primary aIconos" asp-controller="Map" asp-action="Menu" asp-route-id="@playa.Id" title="Ver más"><i class="fas fa-plus-circle iconos"></i> <span class="textoIconos"> Ver más </span> </a></small></p>

    </div>
  </div>
}
