@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
  ViewData["Title"] = "RespuestaVotacion";
}


<style>
  .regresarBtn {
    margin-top: 20px;
    float: right;
    font-size: 20px;
  }
</style>
<div class="controlRoutes">
  <div class="row">
    <div class="col">
      <h1>@ViewData["Title"] playas</h1>

    </div>
    <div class="col">
      <a class="btn btn-secondary  regresarBtn" asp-controller="Playa" asp-action="Index" title="Regresar">

        <i class="fas fa-arrow-left"></i>
        <span class="k-hidden-mobile">Regresar</span>
      </a>
    </div>
  </div>

</div>
@foreach (var playa in Model.ListaPlayas)
{
  <div class="card mb-3">

    <div class="card-header">
      Playa : @playa.Nombre
    </div>
    <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>

              <th scope="col">Puntuacion Total</th>
              <th scope="col">Votos</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              @foreach (var voto in playa.ListaVotoPlaya)
              {
                var total = 0.0;
                @if(voto.Puntuacion !=0 && voto.TotalVotos!=0)
                {
                  total = (voto.Puntuacion / voto.TotalVotos);
                }
                <td>@voto.Puntuacion</td>
                <td>@voto.TotalVotos</td>
                <td>@total</td>
              }
            </tr>
          </tbody>
        </table>
      

    </div>
    <div class="card-footer">

    </div>
  </div>
}
