@model MiPlayaQR.ViewModels.PlayaViewModel;
@{
  ViewData["Title"] = "RespuestaEncuesta";
}
<style>
  .regresarBtn {
    margin-top: 20px;
    float: right;
    font-size: 20px;
  }
</style>
<div class="controlRoutes">
  <div class="row">
    <div class="col">
      <h1>@ViewData["Title"] playas</h1>

    </div>
    <div class="col">
      <a class="btn btn-secondary  regresarBtn" asp-controller="Playa" asp-action="Index" title="Regresar">

        <i class="fas fa-arrow-left"></i>
        <span class="k-hidden-mobile">Regresar</span>
      </a>
    </div>
  </div>

</div>
@foreach (var playa in Model.ListaPlayas)
{
  <div class="card mb-3">

    <div class="card-header">
      Playa : @playa.Nombre
    </div>
    <div class="card-body">

      @foreach (var pregunta in playa.preguntas)
      {
        <h5 class="card-title">@pregunta.PreguntaTexto</h5>
        <table class="table table-hover">
          <thead>
            <tr>
              @foreach (var respuesta in pregunta.respuesta)
              {
                <th scope="col">@respuesta.RespuestaTexto</th>
              }
            </tr>
          </thead>
          <tbody>
            <tr>
              @foreach (var respuesta in pregunta.respuesta)
              {
                <th scope="row">@respuesta.Total</th>
              }
            </tr>
          </tbody>
        </table>
      }

    </div>
    <div class="card-footer">

    </div>
  </div>
}
