@model MiPlayaQR.ViewModels.ContactoViewModel;
@{
  ViewData["Title"] = "Contactos";
}
<style>
  div.dataTables_wrapper div.dataTables_info {
    overflow: auto;
    scrollbar-width: none;
  }

  @@media(max-width: 767px) {

    #divtablaLista {
      max-width: 200px;
    }

    .form-control-sm {
      max-width: 100px;
    }
  }
</style>
<h1>Contactos</h1>

<div id="divtablaLista">

  <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline collapsed dt-responsive display nowrap" id="tablaLista">
    <thead>
      <tr>
        <th class="Print">Nombre</th>
        <th class="Print">Fecha</th>
        <th class="Print">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var contacto in Model.Contactos)
      {
        <tr>
          <th>@contacto.Nombre</th>
          <td>@contacto.FechaCreacion.ToShortDateString()</td>
          <td>
            <div class="dropdown divAcciones">
              <button class="btn dropdown-toggle text-black-50 btnOpcionesTabla" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flaticon2-indent-dots-option-button text-white"></i><span class="k-hidden-mobile text-black-50">Seleccione</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Contacto" asp-action="DetalleContacto" asp-route-id="@contacto.Id" title="Detalle @ViewData["Section"]"> <i class="fa fa-info"></i> Detalle</a>
                <button class="dropdown-item text-danger" title="Eliminar Cuantificación" onclick="eliminarPlayaId(@contacto.Id)">
                  <i class="fa fa-trash-alt text-danger" style="margin-right:13px;"></i> Eliminar
                </button>
              </div>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    var example = $('#tablaLista').DataTable({
      "order": [[1, "desc"]],
      language: {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
      },
      responsive: true,
      fixedColumns: true,
      dom: 'B<"clear">lfrtip',
      name: 'primary',
      buttons: [
        { extend: 'print', text: 'Imprimir', exportOptions: { columns: '.Print' } },
        { extend: 'excelHtml5', text: 'Excel', exportOptions: { columns: '.Print' } },
        { extend: 'pdfHtml5', text: 'Pdf', exportOptions: { columns: '.Print' } }
      ]
    });
  });
  /*
  $(document).ready(function () {
    $('#example').DataTable();
  });*/
  function eliminarPlayaId(id) {
    Swal.fire({
      title: '¿Desea eliminar la playa ?',
      text: "Esta acción no se podrá revertir",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: '¡Sí, eliminar!',
      cancelButtonText: '¡No, cancelar!',
    }).then((result) => {
      if (result.value) {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        $.ajax({
          url: '/Playa/EliminarPlayaId/',
          method: "post",
          dataType: "json",
          data: {
            __RequestVerificationToken: token,
            id: id
          },
          success: function (data) {
            if (data.success) {
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              ).then(function () {
                location.reload();
              });
            } else {
              Swal.fire(
                'Ha ocurrido un error',

                'Error'
              ).then(function () {
                location.reload();
              });
            }

          },
          error: function () {
            swal({
              title: "¡Algo salió mal!",
              text: "¡Ha ocurrido un error al eliminar el registro!",
              type: "error",
              allowOutsideClick: false,
              confirmButtonColor: '#0c7cd5',
              confirmButtonText: 'Aceptar',
              allowEscapeKey: false
            }, function () {
              location.reload();
            });
          }
        });
      }
    });
  };
</script>

