@model Contacto;
@{
  ViewData["Title"] = "DetalleContacto";
}

<style>
  .regresarBtn {
    margin-top: 20px;
    float: right;
    font-size: 20px;
  }
</style>
<div class="controlRoutes">
  <div class="row">
    <div class="col">
      <h1>@ViewData["Title"]</h1>

    </div>
    <div class="col">
      <a class="btn btn-secondary  regresarBtn" asp-controller="Contacto" asp-action="Contactos" title="Regresar">

        <i class="fas fa-arrow-left"></i>
        <span class="k-hidden-mobile">Regresar</span>
      </a>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label asp-for="Nombre">Nombre completo:</label><input type="text" name="nombre" value="@Model.Nombre" size="40" class="form-control" aria-required="true" aria-invalid="false" asp-for="Nombre" readonly>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label asp-for="Telefono">Teléfono:</label><input type="tel" name="telefono" value="@Model.Telefono" size="40" class="form-control" aria-required="true" aria-invalid="false" asp-for="Telefono" readonly>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label asp-for="Correo">Correo electrónico:</label><input type="email" asp-for="Correo" value="@Model.Correo" size="40" class="form-control" aria-required="true" aria-invalid="false" readonly>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group">
      <label asp-for="Comentario">Comentario:</label>
      <textarea asp-for="Comentario" cols="40" rows="10" class="form-control" aria-required="true" aria-invalid="false" readonly>@Model.Comentario</textarea>
    </div>
  </div>

</div>
