@model MiPlayaQR.ViewModels.ContactoViewModel;
@{
  ViewData["Title"] = "Index";
}
<style>
  #FormularioContacto {
    border-width: 3px;
    border-style: solid;
    border-color: #fec969;

    padding: 20px;
  }
    #FormularioContacto input {
      border-width: 1px;
      border-style: solid;
      border-color: #fec969;
    }
    #FormularioContacto textarea {
      border-width: 1px;
      border-style: solid;
      border-color: #fec969;
    }
    #FormularioContacto button {
      background: #fec969;
      width: 100%;
    }
</style>
<h1>Contacto</h1>
<div id="FormularioContacto">


  <form asp-action="Index" method="post" class="mt-3">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label asp-for="Nombre">Nombre completo:</label><input type="text" name="nombre" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" asp-for="Nombre">
          <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label asp-for="Telefono">Teléfono:</label><input type="tel" name="telefono" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" asp-for="Telefono">
          <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label asp-for="Correo">Correo electrónico:</label><input type="email" asp-for="Correo" value="" size="40" class="form-control" aria-required="true" aria-invalid="false">
          <span asp-validation-for="Correo" class="text-danger"></span>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label asp-for="Comentario">Comentario:</label>
          <textarea asp-for="Comentario" cols="40" rows="10" class="form-control" aria-required="true" aria-invalid="false" placeholder="Comentario..."></textarea>
          <span asp-validation-for="Comentario" class="text-danger"></span>
        </div>
        
          
            <button type="submit" class="btn">
              Enviar
            </button>
          
        
      </div>

    </div>
  </form>
</div>
