@model MiPlayaQR.ViewModels.UsuarioViewModel;
@{
  ViewData["Title"] = "Perfil";
}

<h1>Perfil</h1>

<form method="post" class="mt-3">

  <div class="form-group row">
    <label asp-for="Email" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="Email" class="form-control">
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group row">
    <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="UserName" class="form-control">
      <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
  </div>
  <div asp-validation-summary="All" class="text-danger"></div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Update</button>
      <a asp-action="ListUsers" class="btn btn-primary">Cancel</a>
    </div>
  </div>

</form>
