.tabla {
  display: block;
  width: 100%;
  border: solid 1px;
}

.tbody {
  display: table;
  border: solid 1px;
  width: 100%;
  table-layout: auto;
}

.tr {
  display: table-row;
}

  .tr.thead {
    font-weight: bold;
  }

    .tr.thead > div {
      display: table-cell;
    }

  .tr > div {
    display: table-cell;
    border: solid 1px;
  }

    .tr > div .span {
      display: none;
      font-weight: bold;
    }
    .tr > div .divSpan {
      display: none;
      font-weight: bold;
    }

@media(max-width: 767px) {
  .tr.thead {
    display: none;
  }

  .tr > div {
    display: block;
    border: solid 1px;
  }

    .tr > div .span {
      display: inline-block;
      width: 50%;
    }
    .tr > div .divSpan {
      display: block;
      
    }
}
