/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #f9d8a3;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

.dataTables_wrapper .dataTable {
  width: 100% !important;
  border-collapse: initial !important;
  border-spacing: 0 !important;
  margin: 1rem 0 !important;

}
@media(max-width: 767px) {
  #divtablaLista {
    max-width: 200px;
    margin-left: 20%;
  }

  .form-control-sm {
    max-width: 100px;
  }
}
  /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
  .wrapper {
    display: flex;
    align-items: stretch;
  }

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #17a2b8;
  color: #fff;
  transition: all 0.3s;
}

    #sidebar.active {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
    }

      #sidebar.active .sidebar-header h3,
      #sidebar.active .CTAs {
        display: none;
      }

      #sidebar.active .sidebar-header strong {
        display: block;
      }

    #sidebar ul li a {
      text-align: left;
    }

    #sidebar.active ul li a {
      padding: 20px 10px;
      text-align: center;
      font-size: 0.85em;
    }

      #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
      }

    #sidebar.active ul ul a {
      padding: 10px !important;
    }

    #sidebar.active .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }

  #sidebar .sidebar-header {
    padding: 20px;
    background: #17a2b8;
  }

      #sidebar .sidebar-header strong {
        display: none;
        font-size: 1.8em;
      }

    #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
    }

    #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
    }

      #sidebar ul li a:hover {
        color: #17a2b8;
        background: #fff;
      }

      #sidebar ul li a i {
        margin-right: 10px;
      }

  #sidebar ul li.active > a,
  a[aria-expanded="true"] {
    color: #fff;
    background: #17a2b8;
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #17a2b8;
}

  ul.CTAs {
    padding: 20px;
  }

    ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }

a.download {
  background: #fff;
  color: #17a2b8;
}

a.article,
a.article:hover {
  background: #17a2b8 !important;
  color: #fff !important;
}
  /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
  #content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
  }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important;
    }

    .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }

    #sidebar.active {
      margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
      display: none;
    }

    #sidebar .sidebar-header strong {
      display: block;
    }

    #sidebar ul li a {
      padding: 20px 10px;
    }

      #sidebar ul li a span {
        font-size: 0.85em;
      }

      #sidebar ul li a i {
        margin-right: 0;
        display: block;
      }

    #sidebar ul ul a {
      padding: 10px !important;
    }

    #sidebar ul li a i {
      font-size: 1.3em;
    }

    #sidebar {
      margin-left: 0;
    }

    #sidebarCollapse span {
      display: none;
    }
  }
.opcionesLogin{
    color: black !important;
}
  .opcionesLogin :hover {

    background: #f9bd5d !important;
  }
.dt-buttons button {
  background: #f9d8a3;
  color: black;
}
  .dt-buttons :hover {
    background: #f9bd5d;
    color: black;
  }
.btnOpcionesTabla {
  background: #f9d8a3;
  color: black;
  border-color: black;
  
}
.divAcciones :hover {
  background: #f9bd5d;
}
  .btnOpcionesTabla::after {
    display: none;
    position: relative;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
  }
.page-link {
  background: #f9d8a3;
  color: black;
}
.page-item.active .page-link {
  background: #f9d8a3;
  color: black;
  border-color: black;
}
  .page-item.active .page-link :hover {
    background: #f9bd5d;
  }
