.alert{
    overflow: hidden;
    margin: 20px;
}
.alert-icon{
    float:right;
}
@media(max-width: 767px) {
}
#ContenidoMiPlayaQR {
  width: 80%; margin-left: 10%;
}
@media only screen and (max-width: 768px) {
  #ContenidoMiPlayaQR {
    width: 90%;
    margin-left: 5%;
  }
}
